{{!

  Templatized CSS file for the Modern theme. Expanded by Handlebars during
  resume generation.

}}

* {
  box-sizing: border-box;
}

main {
  display: block;
}

body {
  font-family: {{{fontList 'default'}}};
  color: #333;
  line-height: 1.42857143;
  background-color: #F0F0F0;
  margin: 0;
  padding: 0;
}

/* Typical page borders are awkward when rendered to PDF. */
body.pdf {
  background-color: #FFFFFF;
}

/* Adobe or wkhtmltopdf has issues with the <main> tag, so we use <div> for
the PDF case, <main> for the HTML case, and style both via an ID. */
#main {
  background-color: #FFF;
  margin: 0.6em;
  padding: 0.6em;
  border: 0.1em solid #E6E6E6;
}

body.pdf > #main {
  border: none;
}

#container > header {
  padding-top: 3em;
  padding-bottom: 1em;
}

#container #picture {
  margin-top: 1.2em;
}


#container > header span.fa {
  position: relative;
  /*color: green;*/
  font-size: inherit;
  left: 0px;
  top: -2px;
  /*top: 4px;*/
  /*left: -50px;*/
  /*font-size: 30px;*/
  /*color: #BFC1C3;*/
}

.left {
  float: left;
}
.right {
  float: right;
}

#summary {
  clear: both;
}



body.pdf #container > header {
  padding: 0;
}

#main > #container > section {
  margin-left: 3em;
  position: relative;
  display: block;
  page-break-inside: avoid;
}

#main > #container > section > div {
  page-break-inside: avoid;
}

span.fa
{
  position: absolute;
  /*left: -50px;*/
  left: -1.5em;
  font-size: 1.8em;
  line-height: 1.42857143;
  color: #778083;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 0.2em solid #EEE;
}

.tenure, .keywords {
  font-size: 1em;
}

h1 {
  margin: 0.1em;
  font-size: 2.4em;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 1.8em;
  color: #778083;
  text-transform: uppercase;
  font-weight: normal;
}

h3 {
  margin-bottom: 0;
  font-size: 1.1em;
}

a, a:visited {
  color: #428BCA;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

@media print {
  .nav-bar {
    display: none !important;
  }
}

#main > #container > span.nav-bar > a {
  white-space: nowrap;
}
#main > #container > span.nav-bar > a > span.fa {
  position: static;
}

.defunct {
  color: #989898;
  font-weight: bold;
}

#summary > p > strong {
  font-size: 1.25em;
}


.label-keyword {
  display: inline-block;
  background: #7eb0db;
  color: white;
  font-size: 0.9em;
  padding: 0.4em;
  border: 1px solid #357ebd;
  border-radius: 5px;
  margin-top: 0.4em;
}

.card-skills {
    position: relative;
}
.card-nested {
    min-height: 0;
    margin-bottom: 10px;
    border-width: 0.1em 0 0 0;
}
.card {
    background: #FFF;
    border-radius: 3px;
    padding: 0.6em;
}

.skill-level {
  border-radius: 0.2em;
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 0;
  width: 0.6em;
  box-shadow: inset 0 0 0.2em rgba(0, 0, 0, 0.5);
}
.skill-level .skill-progress {
  position: absolute;
  border-radius: 0.2em;
  bottom: 0;
  width: 100%;
  -webkit-transition: height 1s ease;
}
.skill-level .skill-progress.beginner {
  height: 50%;
  background-color: #e74c3c;
  box-shadow: inset 0 0 0 0.6em #e74c3c;
}
.skill-level .skill-progress.intermediate {
  height: 70%;
  background-color: #f1c40f;
  box-shadow: inset 0 0 0 0.6em #f1c40f;
}
.skill-level .skill-progress.advanced {
  height: 80%;
  background-color: #428bca;
  box-shadow: inset 0 0 0 0.6em #428bca;
}
.skill-level .skill-progress.master {
  height: 95%;
  background-color: #5cb85c;
  box-shadow: inset 0 0 0 0.6em #5cb85c;
}

.skill-info {
  margin-left: 10px;
}

@media screen and (max-width: 750px) {
  .skill-info {
    margin-left: 1em;
  }
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.card-skills {
  position: relative;
}

.space-top {
    margin-top: 10px;
}

#container {
  max-width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 1000px) {
  #container {
    width: 800px;
  }
}

#elevator-pitch {
  text-align: center;
  font-size: 2em;
  color: #778083;
  text-transform: uppercase;
  font-weight: normal;
}

.res-label {
  font-style: italic;
}

input:focus {outline: none; }
